<img src="https://wallpaperaccess.com/full/7445.jpg">
<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <h1 class="h3 mb-3 fw-normal" class="name">Total Gaming</h1>
            
                <div class="form-floating">
                  <input type="email" formControlName="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com" required ngModel>
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                  <input type="password" formControlName="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required ngModel>
                  <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <div class="alert alert-danger" role="alert" *ngIf="fieldNotEmpty">
                    Please fill all fields
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="validCredentials">
                   Invalid user or password
                </div>
              </form>
        </div>
    </div>
</div>

